.controls button{
    margin: 0 3px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(185, 185, 185);
    font-size: medium;
}

.controls {
    display: inline;
    float: right;
}

* [contenteditable="true"]{
    display: inline-block;
    width: 100%;
}

.timeout {
    font-size: 1rem;
    background-color: #efefef;
    border: 1px solid rgb(185, 185, 185);
    padding: 2px 3px;
    margin: 1px;
    line-height: 0.9rem;
    text-transform: none;
    font-weight: normal;
    display: inline-block;
}

.signal {
    text-transform: none;
    font-size: 1rem;
    background-color: #efefef;
    border: 1px solid rgb(185, 185, 185);
    padding: 2px 3px;
    margin: 1px;
    line-height: 0.9rem;
    text-transform: none;
    font-weight: normal;
    display: inline-block;
    

}