/* fallback */
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
        format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    /* display: inline-block; */
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

/* ================================================================== */

div.ttypography textarea,
div.ttypography pre,
div.ttypography code,
div.ttypography kbd,
div.ttypography samp,
div.ttypography var,
div.ttypography tt {
    font-family: Consolas, "Lucida Console", "Andale Mono",
        "Bitstream Vera Sans Mono", "Courier New", Courier;
}

div.ttypography {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    base: 14px;
    line-height: 21px;
    color: #222;
    -webkit-text-size-adjust: 100%;
    font-size: 1.4rem;
    word-wrap: break-word;
    margin: 1.5em 0 0 0 !important;
    /*background-color: #ffffff;*/
}

div.ttypography .tt {
    margin: 0 4px;
    padding: 2px 4px;
    /*white-space: nowrap;*/
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-image: initial;
}

div.ttypography h1,
div.ttypography h2,
div.ttypography h3,
div.ttypography h4,
div.ttypography h5,
div.ttypography h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #161e21;
    margin: 0;
}

div.ttypography h1 {
    font-size: 250%;
    line-height: 0.8571em;
    margin: 0.4286em 0 0;
}

div.ttypography h2 {
    font-size: 200%;
    line-height: 1.2em;
    margin: 0.6em 0 0 0;
}

div.ttypography h3 {
    font-size: 175%;
    line-height: 0.8571em;
    margin: 0.8571em 0 0 0;
}

div.ttypography h4 {
    font-size: 150%;
    line-height: 1.25em;
    margin: 1.25em 0 0 0;
}

div.ttypography h5 {
    font-size: 135%;
    line-height: 1.2857em;
    margin: 1.2857em 0 0 0;
}

div.ttypography h6 {
    font-weight: bold;
    font-size: 100%;
    line-height: 1.5em;
    margin: 1.5em 0 0 0;
}

/* --- Lists | Listen  -------------------------------------------------------------------------------- */

div.ttypography ul,
div.ttypography ol,
div.ttypography dl {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0.5em 0 0 1em;

    padding-inline-start: 0px;
}

div.ttypography ul {
    list-style-type: disc;
}

div.ttypography ol {
    list-style-type: decimal;
}

div.ttypography ul ul {
    list-style-type: circle;
    margin-top: 0;
}

div.ttypography ol ol {
    list-style-type: lower-latin;
    margin-top: 0;
}

div.ttypography ol ul {
    list-style-type: circle;
    margin-top: 0;
}

div.ttypography li {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 0.8em;
}

div.ttypography dt {
    font-weight: bold;
}

div.ttypography dd {
    margin: 0 0 1.5em 0.8em;
}

div.ttypography p:not(:first-child) {
    margin: 1.5em 0 0 0;
}

div.ttypography p {
    font-size: 1em;
    line-height: 1.4em;
}

div.ttypography blockquote,
div.ttypography cite,
div.ttypography q {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

div.ttypography blockquote {
    margin: 1.5em 0 0 1.5em;
    color: #666;
}

div.ttypography strong,
div.ttypography b {
    font-weight: bold;
}

div.ttypography em,
div.ttypography i {
    font-style: italic;
}

div.ttypography big {
    font-size: 116.667%;
}

div.ttypography small {
    font-size: 85.71%;
}

div.ttypography pre,
div.ttypography code,
div.ttypography kbd,
div.ttypography tt,
div.ttypography samp,
div.ttypography var {
    font-size: 100%;
}

div.ttypography pre {
    line-height: 1.5em;
    margin: 1.5em 0 0 0;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

div.ttypography pre,
div.ttypography code {
    color: #800;
}

div.ttypography pre.lstlisting {
    background-color: #eff0f1;
    margin: 0.75em 0;
}

div.ttypography kbd,
div.ttypography samp,
div.ttypography var,
div.ttypography tt {
    color: #666;
    font-weight: bold;
}

div.ttypography var,
div.ttypography dfn {
    font-style: italic;
}

div.ttypography acronym,
div.ttypography abbr {
    border-bottom: 1px #aaa dotted;
    font-variant: small-caps;
    letter-spacing: 0.07em;
    cursor: help;
}

div.ttypography sub,
div.ttypography sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

div.ttypography sup {
    top: -0.5em;
}

div.ttypography sub {
    bottom: -0.25em;
}

div.ttypography mark {
    background: #ff0;
    color: #000;
}

div.ttypography hr {
    color: #fff;
    background: transparent;
    margin: 0 0 0.75em 0;
    padding: 0 0 0.75em 0;
    border: 0;
    border-bottom: 1px #eee solid;
}

div.ttypography a {
    color: #4d87c7;
    background: transparent;
    text-decoration: none;
}

div.ttypography a:active {
    outline: none;
}

/* (en) maximum constrast for tab focus - change with great care */
/* (en) Maximaler Kontrast fï¿½_r Tab Focus - ï¿½"ndern Sie diese Regel mit Bedacht */
div.ttypography a:hover,
div.ttypography a:focus {
    background-color: #800;
    color: #fff;
    text-decoration: none;
}

/* --- images ------------------ */

div.ttypography img,
div.ttypography figure {
    margin: 0;
}

div.ttypography .flexible {
    margin-top: 1.5em;
    max-width: 100%;
}

div.ttypography .bordered {
    margin-top: 1.5em;
    border: 2px #eee solid;
    border: 2px rgba(255, 255, 255, 1) solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

div.ttypography table {
    border-collapse: collapse;
    margin: 1.3571em 0 0 0;
    color: #222;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

div.ttypography table.narrow {
    margin: 1.4286em 0 0 0;
}

div.ttypography table.narrow th,
div.ttypography table.narrow td {
    padding: 0 0.5em;
    line-height: 1.4286em;
}

div.ttypography table.bordertable {
    border: 1px #ccc solid;
}

div.ttypography table caption {
    font-variant: small-caps;
}

div.ttypography th,
div.ttypography td {
    line-height: 1.5em;
    vertical-align: top;
    padding: 0.7143em 0.5em;
}

div.ttypography th *:first-child,
td *:first-child {
    margin-top: 0;
}

div.ttypography th.nowrap,
div.ttypography td.nowrap {
    white-space: nowrap;
}

div.ttypography thead th {
    text-align: left;
    color: #000;
    border-bottom: 2px #000 solid;
    font-weight: bold;
}

div.ttypography .bordertable thead th {
    background: #e0e0e0;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    font-weight: bold;
}

div.ttypography .bordertable tbody th[scope="row"] {
    background: #f0f0f0;
}

div.ttypography tbody th {
    text-align: left;
    border-top: 1px solid #ccc;
    text-align: left;
    font-weight: bold;
}

div.ttypography .bordertable tbody th {
    border-right: 1px solid #ccc;
    font-weight: bold;
}

div.ttypography tbody td {
    text-align: left;
    border-top: 1px solid #ccc;
}

div.ttypography .bordertable tbody td {
    border-right: 1px solid #ccc;
}

/* highlight row on mouse over */
div.ttypography tbody tr:hover th,
div.ttypography tbody tr:hover td {
    background: #f8f8f8;
}

div.ttypography pre code {
    font-size: 95%;
    position: relative;
}
/* 
div.ttypography .MathJax {
    color: black !important;
} */

/* ========================================================================================================= */

@media print {
    div.print-content article.node .node-blog .clearfix div.item-body p a {
        display: none;
    }

    .compact-problemset div.ttypography {
        margin: 0 !important;
    }

    .compact-problemset .problem-statement p {
        margin-bottom: 0.75em !important;
        page-break-inside: avoid;
    }
    .compact-problemset .problem-frames {
        column-count: 2;
    }

    .compact-problemset .problem-statement .input,
    .compact-problemset .problem-statement .output {
        page-break-inside: avoid;
    }

    .compact-problemset .problem-statement .output {
        page-break-inside: avoid;
    }

    .compact-problemset .problem-statement {
        margin: 0.25em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.45em;
        font-size: 1.4rem;
    }

    .compact-problemset #header {
        display: none;
    }

    .compact-problemset .problem-statement .time-limit,
    .compact-problemset .problem-statement .memory-limit {
        display: inline;
    }

    .compact-problemset .problem-statement .time-limit::after {
        content: ", ";
    }

    .compact-problemset .problem-statement .property-title {
        display: none;
    }

    .compact-problemset .problem-statement .input-file,
    .compact-problemset .problem-statement .output-file {
        display: none;
    }

    .compact-problemset .problem-statement .sample-tests .section-title,
    .compact-problemset .problem-statement .note .section-title {
        display: none;
    }

    .compact-problemset .input-output-copier {
        display: none;
    }
}

.problem-statement {
    margin: 0.5em;
    /*font-family: verdana,arial,sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    font-size: 1rem;
}

.problem-statement .epigraph {
    /*    margin-left: 67%;*/
    /*    width: 33%;*/
}

.problem-statement .epigraph-text {
    margin-left: 67%;
    width: 33%;
}

.problem-statement .epigraph-source {
    border-top: 1px solid #888;
    text-align: right;
}

.problem-statement p {
    margin: 0 0 1em 0 !important;
}

.problem-statement .header {
    margin-bottom: 1em;
    text-align: center;
}

.problem-statement .header .title {
    font-size: 150%;
    margin-bottom: 0.5em;
}

.problem-statement .header .title {
    font-size: 150%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: arial,sans-serif;*/
}

.problem-statement ul {
    list-style: disc;
    list-style-type: disc;
    list-style-position: outside;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.problem-statement ol {
    list-style: decimal;
    list-style-type: decimal;
    list-style-position: outside;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.problem-statement li {
    line-height: 1.5em;
    margin-left: 3em;
}

.problem-statement .property-title {
    display: inline;
    padding-right: 4px;
}

.problem-statement .property-title:after {
    content: ":";
}

.problem-statement .time-limit,
.problem-statement .memory-limit,
.problem-statement .input-file,
.problem-statement .output-file {
    margin: 0 auto;
}

.problem-statement .legend {
    margin-bottom: 1em;
}

.problem-statement .section-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: arial,sans-serif;*/
    font-size: 115%;
    font-weight: bold;
}

.problem-statement .input-specification,
.problem-statement .output-specification,
.problem-statement .sample-tests,
.problem-statement .author,
.problem-statement .resource,
.problem-statement .date {
    /*margin-bottom: 1em;*/
}

.problem-statement .output-specification {
    margin-bottom: 1em;
}

.problem-statement .sample-tests .sample-test {
}

.problem-statement .sample-tests .input,
.problem-statement .sample-tests .output {
    border: 1px solid #888;
}

.problem-statement .sample-tests .input {
    margin-top: 0.2rem;
    overflow: hidden;
}

.problem-statement .sample-tests .output {
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    top: -1px;
}

.problem-statement .sample-tests pre {
    line-height: 1.25em;
    padding: 0.25em;
    margin: 0;
    background-color: #efefef;
    max-height: 20rem;
    overflow-y: scroll;
    vertical-align: top;
}

.problem-statement .sample-tests {
    font-family: Consolas, "Lucida Console", "Andale Mono",
        "Bitstream Vera Sans Mono", "Courier New", Courier;
    font-size: 0.9em;
}

.problem-statement .sample-tests .title {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-family: arial,sans-serif;*/
    font-size: 1.3em;
    padding: 0.25em;
    border-bottom: 1px solid #888;
    text-transform: lowercase;
    font-weight: bold;
}

.problem-statement .test {
    margin-bottom: 3em;
}

.problem-statement .test-title {
    /*font-size: 150%;*/
    font-weight: bold;
}

.problem-statement .test-stem,
.problem-statement .test-explanation-note {
    margin: 0.5em 0 0.5em 0;
}

.problem-statement input[type="submit"] {
    margin-top: 0.5em;
    margin-right: 1em;
    padding: 0 1em;
}

.problemindexholder {
    position: relative;
}

div .problem-statement-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 50;
    opacity: 0.2;
}

.load-answers-waiting-indicator {
    position: absolute;
    top: 49%;
    left: 49%;
}

.problem-statement input[type="radio"] {
    margin-right: 0.5em;
}

.problem-statement input[type="checkbox"] {
    margin-right: 0.5em;
}

.problem-statement input[type="text"] {
    width: 20em;
}

.problem-statement textarea {
    width: 20em;
    height: 7em;
}

.problem-statement .test-form {
    line-height: 1.75em;
}

.problem-statement .test-form {
    line-height: 1.75em;
}

.tex-formula {
    font-family: times new roman, sans-serif;
    vertical-align: middle;
    margin: 0;
    border: medium none;
    position: relative;
    bottom: 2px;
}

.tex-span {
    font-size: 125%;
    font-family: times new roman, sans-serif;
    white-space: nowrap;
}

.tex-font-size-tiny {
    font-size: 70%;
}

.tex-font-size-script {
    font-size: 75%;
}

.tex-font-size-footnotes {
    font-size: 85%;
}

.tex-font-size-small {
    font-size: 85%;
}

.tex-font-size-normal {
    font-size: 100%;
}

.tex-font-size-large-1 {
    font-size: 115%;
}

.tex-font-size-large-2 {
    font-size: 130%;
}

.tex-font-size-large-3 {
    font-size: 145%;
}

.tex-font-size-huge-1 {
    font-size: 175%;
}

.tex-font-size-huge-2 {
    font-size: 200%;
}

.tex-font-style-rm {
}

.tex-font-style-sf {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: arial,sans-serif;*/
}

.tex-font-style-tt {
    font-size: 110%;
    font-family: courier new, monospace;
}

.tex-font-style-md {
}

.tex-font-style-bf {
    font-weight: bold;
}

.tex-font-style-up {
}

.tex-font-style-it {
    font-style: italic;
}

.tex-font-style-sl {
    font-style: italic;
}

.tex-font-style-sc {
    text-transform: uppercase;
}

.tex-font-style-striked {
    text-decoration: line-through;
}

.tex-font-style-underline {
    text-decoration: underline;
}

.tex-graphics {
    display: block;
}

.tex-font-style-part {
    font-size: 187.5%;
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.tex-font-style-chapter {
    font-size: 162.5%;
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.tex-font-style-section {
    font-size: 137.5%;
    font-weight: bold;
}

.tex-font-style-subsection {
    font-size: 125%;
    font-weight: bold;
}

.tex-font-style-subsubsection {
    font-size: 112.5%;
    font-weight: bold;
}

.tex-font-style-paragraph {
    font-size: 100%;
    font-weight: bold;
}

.tex-font-style-subparagraph {
    font-size: 100%;
    font-style: italic;
}
